@model Domain.Entities.ApplicationUser

@{
    ViewBag.Title = "Opladen";
}



<img src="~/content/images/wallet_icon.jpg" alt="...">
<h2>Charge Wallet with PayPal.</h2>



<a>
    <div class="btn-group btn-group-justified">
        <input type="button" class="btn btn-primary" value="Laad 5 euro op" onclick="location.href = ''" />
        <input type="button" class="btn btn-primary" value="Laad 10 euro op" onclick="location.href = ''" />
        <input type="button" class="btn btn-primary" value="Laad 20 euro op" onclick="location.href = ''" />
        <input type="button" class="btn btn-primary" value="Laad 50 euro op" onclick="location.href=''" />

    </div>
</a>



