<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel<b class="caret"></b></a>
    <ul class="dropdown-menu" aria-labelledby="OrderDropdown">
        @if(User.IsInRole("Superadmin") || User.IsInRole("Keuken") || User.IsInRole("Keuken Admin"))
        {
            <li>@Html.ActionLink("Keuken overzicht", "KitchenView", "Kitchen")</li>
        }
        @if (User.IsInRole("Superadmin") || User.IsInRole("Keuken Admin"))
        {
            <li>@Html.ActionLink("Admin keuken", "Index", "Kitchen")</li>
        }
        @if (User.IsInRole("Superadmin"))
        {
            <li>@Html.ActionLink("Consumpties", "Index", "Consumptions")</li>
        }        
        
    </ul>
</li>

