    .carousel-inner .item .carousel-caption {  
    position:absolute;  
    top: 200px  
    }  
    .carousel-indicators {  
    position: relative;  
    top: 400px;  
    }  
    .navbar {  
    margin-bottom:0;  
    }  
    /*.navbar-nav>li>a {  
    line-height: 50px;  
    font-size: 16px  
    }*/  