.carousel-inner .item .carousel-caption {
    position: absolute;
    top: 200px;
}

.carousel-indicators {
    position: absolute;
    opacity: 0.8;
    /*top: 400px;*/
}

.navbar {
    margin-bottom: 0;
}

a.paypal {
    background: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png) no-repeat top left;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
}

.paddingpaypal
{ margin:10px; padding:10px; padding-top:40px }

/*.navbar-nav>li>a {  
    line-height: 50px;  
    font-size: 16px  
    }*/
