@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>


<div class="entry-content">
    <h2>Wie zijn we?</h2>
    <p>Student LAN vzw is opgericht door 5 studenten toegepaste informatica aan de KdG Hogeschool in Antwerpen. Ons team bestaat sinds editie 4 uit 6 KdG studenten.</p>
    <p>Aanvankelijk hadden we het idee om een LAN party te organiseren voor alle studenten van onze school. Daarom dat we ons evenement de naam “KdG LAN party” hebben gegeven. Al snel groeide dit idee en de ambitie uit naar het organiseren van een LAN party aan student vriendelijke prijzen. Toen hebben we besloten om een vzw op te richten onder de naam “Student LAN vzw”</p>
    <h2 style="text-align: left;">Wie is wie</h2>
    <p>
        De voorzitter: Dimitri Van Tillo<br>
        De penningmeester: Christophe Bossuyt<br>
        Crew: <br>
        Kevin Mertens<br>
        Ann Maes<br>
        Pieterjan Kurris<br>
        Messelina Loncin
    </p>
    <h2>Het evenement – Visie</h2>
    <p>Er zijn verschillende LAN party’s in België. Net zoals andere LAN party’s willen we met onze LAN zowel casual gamen als toernooien organiseren in <u>Antwerpen</u>. We willen onze deelnemers zowel een uitgebreid aanbod aan toernooien geven als ook een aanbod aan casual gaming. Kortom, iedereen is welkom. Met het organiseren van Student LAN willen we ons onderscheiden van de andere LAN party’s door het organiseren van studentenclub toernooien. Vele studentenclubs hebben namelijk wel een aantal gamende leden. Dit gaan we vanaf komende editie voor de eerste keer organiseren.</p>
    <p>Om het evenement goed te laten verlopen, spreiden we de toernooien over de dagen van de LAN party. Zo zullen hoofd toernooien op de 2 dagen georganiseerd worden zodat op 1 dag iedereen kan deelnemen en op de andere dag de studentenclubs. Dit geeft hen de kans om aan beide toernooien deel te nemen zonder overlapping.</p>
    <p>
        Door gestaag te groeien, willen we onze deelnemers steeds meer aanbieden. Vanaf editie 4 gaan we met randanimatie werken waarbij we een retrohoek opzetten met allerlei oude consoles. Hier kunnen de deelnemers dan gratis gebruik van maken.<br>
        Daarnaast komt er ook een chill-out zone waar de deelnemers even tot rust kunnen komen. Deze wordt uitgerust met enkele zitzakken, banken, tafeltjes,…<br>
        Verder komt er 1 van de komende edities een finale tafel op een podium bij. Hier kunnen de finalisten dan in de schijnwerpers het tegen elkaar opnemen. Deze games zouden dan ook gestreamed kunnen worden naar buiten toe.
    </p>
</div>

