@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

 <p>
    Student LAN vzw<br>
    Ondernemingsnummer: 0506.725.624<br>
    Adres: De Vest 12 2040 Zandvliet (Geen bezoekadres!)<br>
     Tel: +324 79 88 59 90<br>

     <strong>Mail:</strong> <a href="mailto:info@kdglanparty.be">info@kdglanparty.be</a>
</p>