@{
    ViewBag.Title = "Home Page";
}

<br>
<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Adventure is out there!</h2>
            <p class="blog-post-meta">25/01/2016 by kali</p>
            <p>
                Beste gamers, geeks en geniale IT-studenten ter lande,
            </p>
        
            <p>
                Met de vierde, turbulente maar zeer geslaagde, editie van StudentLAN nog vers in het achterhoofd, had het StudentLAN team zich tijdelijk teruggetrokken in de ManCave voor een welverdiende winterslaap. En om te dromen van een volgende editie natuurlijk!

                Na veel zwoegen en zweten en diepe dalen en woeste zeeën doorploegd te hebben, is de draak dan uiteindelijk verslagen en hebben we de prinses (Kevin) gered. De zombies staan op stal, knieschijven zijn terug pijl-loos verklaard en we hebben onze stoute schoenen dichtgeveterd voor weer een onvergetelijk avontuur.

                Vol goede moed zijn we de Grot der GamerGoden in getrokken, toetsenbord en muis in de aanslag, klaar om de vijfde editie van StudentLAN traditioneel in te zetten met een bloederig partijtje mens-erger-je-niet.

                De dobbelstenen waren echter tegen ons: [...]
            </p>

            <a class="btn btn-default read-more" href="http://www.kdglanparty.be/nieuws/adventure-is-out-there/">Continue reading <i class="fa fa-chevron-right"></i></a>
</div><!-- /.blog-post -->


        <div class="blog-post">
            <h2 class="blog-post-title">Bedankt !</h2>
            <p class="blog-post-meta">01/12/2015 by Kevin Mertens</p>
            <p>Woorden schieten ons tekort als we dit proberen te schrijven.
Eerst en vooral ons welgemeende excuses voor de problemen met het internet van vrijdag avond tot zaterdag middag. 
            Door problemen met het internet die buiten onze macht lagen, kon er een lange tijd niet gegamed worden. 
            De oorzaak hiervan was een opgezegd internet abonnement en daarna een alles blokkerende firewall. 
            Dankzij onze netwerkpartner DRAC zijn we er dan in geslaagd om het [...]</p>
            <a class="btn btn-default read-more" href="http://www.kdglanparty.be/uncategorized/bedankt/">Continue reading <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.blog-post -->
        <nav>
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </nav>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4></h4>
            <p></p>
        </div>
        <div class="sidebar-module">
            <a href="http://www.alternate.be" target="_blank">
                <img class="img-responsive" src="~/content/images/sponsors/alternate_klein.png" />
            </a>
            <a href="http://www.cronos.be/" target="_blank">
                <img class="img-responsive" src="~/content/images/sponsors/cronos.png" />
            </a>
            <a href="http://www.gamegear.be/" target="_blank">
                <img class="img-responsive" src="~/content/images/sponsors/gamegear.png" />
            </a>
            <a href="http://www.mindfactory.de/search_result.php?search_query=seasonic&x=0&y=0" target="_blank">
                <img class="img-responsive" src="~/content/images/sponsors/logo-on-white-468x142.jpg" />
            </a>
            <a href="http://www.drac.be/" target="_blank">
                <img class="img-responsive" src="~/content/images/sponsors/logohorizontaal.png" />
            </a>
</div>
        <div class="sidebar-module">
            <h4>Volg ons op</h4>
            <ol class="list-unstyled">
                <li><a href="https://twitter.com/StudentLAN" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/studentLANvzw/" target="_blank">Facebook</a></li>
            </ol>
        </div>
    </div>
</div>