@model Domain.Entities.WalletOrder
@{
    ViewBag.Title = "CompleteCashWallerOrder";
}

<h2>CompleteCashWallerOrder</h2>
U hebt @Html.DisplayFor(model => model.User.UserName) zijn wallet opgeladen met @Html.DisplayFor(model => model.TotalAmount)

 

